@charset "utf-8";

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-Regular.eot');
    src: url('fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('fonts/SFProDisplay-Regular.woff') format('woff'),
        url('fonts/SFProDisplay-Regular.ttf') format('truetype'),
        url('fonts/SFProDisplay-Regular.svg#SFProDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
font-family: 'Cartograph CF';
src: local('fonts/Cartograph CF DemiBold'), local('Cartograph-CF-DemiBold'),
    url('fonts/CartographCF-DemiBold.woff2') format('woff2'),
    url('fonts/CartographCF-DemiBold.woff') format('woff'),
    url('fonts/CartographCF-DemiBold.ttf') format('truetype');
font-weight: 600;
font-style: normal;
}

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(235.46deg, rgba(255, 87, 34, 0.05) 0%, rgba(255, 87, 34, 0) 77.44%), #1B1B1B;
    background-blend-mode: plus-lighter, normal;
}

.wrapper {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
    max-width: 600px;
    margin: 0 auto;
}

header {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

::-webkit-input-placeholder {color:#FFF;}
::-moz-placeholder          {color:#FFF;}
:-moz-placeholder           {color:#FFF;}
:-ms-input-placeholder      {color:#FFF;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

.clearfix:after,
.clearfix:before {
    display: block;
    content: "";
}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 10px 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;

}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.overflow_wrapp {
    overflow: hidden;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header_site {
    display: flex;
    padding: 14px 20px 14px 20px;
}

.header_site > div:nth-child(1) {
    padding: 9px 8px 0 0;
    width: 30px;
}

.header_site > div:nth-child(2) {
    padding: 0 8px;
    width: calc(100% - 75px);
}

.header_site > div:nth-child(3) {
    padding: 0 0 0 8px;
    width: 45px;
    display: flex;
    justify-content: flex-end;
}

.respbtn {
    display: block;
    width: 21px;
    height: 17px;
    background: transparent;
    cursor: pointer;
    border: 1px solid transparent;
}

.respbtn:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

.logo {
    display: inline-block;
    vertical-align: top;
}

.logo svg {
    display: block;
    width: auto;
    height: auto;
}

.avatar {
    display: block;
    width: 36px;
    height: 36px;
    background: #D9D9D9;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.avatar img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

/*-- Resp Nav --*/

#respNav {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    overflow-x: hidden;
    overflow-y: auto;
}

#respNav:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.z_2 {
    position: relative;
    z-index: 2;
}

.close_nav {
    display: block;
    width: 17px;
    height: 17px;
    border: none;
    background: transparent;
    position: fixed;
    top: 24px;
    left: 20px;
    z-index: 11;
    cursor: pointer;
}

.close_nav svg {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.height_wrapp {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.height_wrapp > div {
    width: 100%;
}

.nav_logo_wrapp {
    padding: 10px 0 47px 0;
    text-align: center;
}

.nav_logo {
    display: inline-block;
    vertical-align: top;
}

.nav_logo svg {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.resp_nav {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}

.resp_nav li {
    padding: 11px 0;
    text-align: center;
}

.resp_nav li a {
    display: inline-block;
    vertical-align: top;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFF;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.resp_nav li a:link,
.resp_nav li a:visited {
    color: #FFF;
}

.resp_nav li a:active,
.resp_nav li a.active,
.resp_nav li a:hover {
    color: #FF5722;
}

/*-- /Resp Nav --*/

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Section 1 - 34 --*/

.black_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 78px);
    margin: 6px 8px 8px 8px;
    padding: 20px;
    background: linear-gradient(257.4deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0) 59.13%), rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 30px;
}

.inner {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
}

.avatar_box {
    width: 116px;
    height: 116px;
    position: relative;
    margin: 20px auto;
}

.avatar_img {
    display: block;
    width: 116px;
    height: 116px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    background: #D9D9D9;
}

.avatar_img img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);   
}

.edit_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    background: linear-gradient(225deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.02) 100%);
    backdrop-filter: blur(17px);
    border-radius: 12px;
}

.edit_link svg {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.avatar_box .edit_link {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.title_wrapp {
    text-align: center;
}

.title_wrapp h3 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: .01em;
    text-transform: uppercase;
    color: #FFF; 
}

.title_wrapp h3 span {
    color: #FF5722; 
}

.title_descript {
    padding: 14px 0;
}

.title_descript p {
    font-family: 'Roboto Mono';
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #B09B9B;
}

.btn_wrapp {
    padding: 8px 0;
}

.orange_pill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    min-height: 48px;
    background: #FF5722;
    border: none;
    cursor: pointer;
    backdrop-filter: blur(15px);
    border-radius: 12px;
    font-family: 'Roboto Mono';
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

/*-- /Section 1 - 34 --*/

/*-- Section 1 - 35 --*/

.input_wrapp {
    margin: 10px 0 8px 0;
}

.input_wrapp input {
    display: block;
    width: 100%;
    padding: 0 16px;
    height: 48px;
    background: rgba(0, 0, 0, .15);
    border: 1px solid rgba(255, 255, 255, .05);
    backdrop-filter: blur(15px);
    border-radius: 12px;
    font-family: 'Roboto Mono';
    font-weight: normal;
    font-size: 14px;
    line-height: 47px;
    color: #FFF;
}

/*-- /Section 1 - 35 --*/

/*-- Section 1 - 32 --*/

.avatar_box_2 {
    margin-bottom: 34px;
}

.orange_num {
    padding: 14px 0;
}

.orange_num p {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: .01em;
    text-transform: uppercase;
    color: #FF5722;
}

.num_thumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
    justify-content: center;
}

.num_thumb {
    padding: 14px 12px;
}

.num_thumb h3 {
    padding: 5px 0;
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFF;
}

.num_thumb p {
    padding: 2px 0;
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FF5722;
}

/*-- /Section 1 - 32 --*/

/*-- Section 1 - 1 --*/

.black_box_2 {
    display: block;
    min-height: auto;
    margin-bottom: 10px;
    padding: 19px 20px 15px 20px;
}

.item {
    display: flex;
}

.item > div:nth-child(1) {
    width: 77px;
}

.item > div:nth-child(2) {
    width: calc(100% - 77px);
    padding-top: 8px;
}

.item h4 {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFF;
}

.item p {
    font-family: 'Cartograph CF';
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FF5722; 
}

/*-- /Section 1 - 1 --*/

/*-- Section 2 - 1 --*/

.title_wrapp_2 h3 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: #FFF;
}

.title_wrapp_2 h3 span {
    color: #FF5722;
}

.thumbnails_2 {
    display: flex;
    flex-wrap: wrap;
    margin: 17px -5px;
}

.thumb_2 {
    display: flex;
    width: calc(50% - 10px);
    margin: 5px;
}

.thumb_2 > div:nth-child(1) {
    width: 50px;
}

.thumb_2 > div:nth-child(2) {
    width: calc(100% - 50px);
}

.thumb_2 > div:nth-child(1) > img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.thumb_2 > div:nth-child(2) > h3 {
    padding-bottom: 7px;
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFF;
}

.thumb_2 > div:nth-child(2) > p {
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FF5722;
}

.time_thumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -6px;
}

.time_thumb {
    padding: 0 6px;
}

.time_thumb > h3 {
    padding-bottom: 7px;
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFF;
}

.time_thumb > p {
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FF5722;
}

.chart_wrapp {
    margin: 31px 0 20px 0;
}

.chart_wrapp img {
    display: block;
    width: auto;
    max-width: 100%;
}

.form_2 {
    display: flex;
    flex-wrap: wrap;
}

.form_2 > div:nth-child(1) {
    width: calc(100% - 125px);
    padding: 2px 8px 2px 0;
}

.form_2 > div:nth-child(2) {
    width: 125px;
    padding: 2px 0 2px 8px;
}

.form_2 .input_wrapp {
    margin: 0;
}

.form_2 .input_wrapp input {
    height: 48px;
    line-height: 47px;
    border-radius: 12px;
    font-size: 14px;
}

.orange_pill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    min-height: 48px;
}

.form_2 .orange_pill {
    width: 100%;
}

.form_descript {
    padding: 8px 0 6px 0;
}

.form_descript p {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #B09B9B;
}

/*-- /Section 2 - 1 --*/

/*-- Section 3 - 1 --*/

.thumb_3 {
    display: flex;
    margin: 0 0 3px 0;
}

.thumb_3 > div:nth-child(1) {
    width: 50px;
}

.thumb_3 > div:nth-child(2) {
    width: calc(100% - 50px);
}

.thumb_3 > div:nth-child(1) > img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.thumb_3 > div:nth-child(2) > h3 {
    padding-bottom: 7px;
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFF;
}

.thumb_3 > div:nth-child(2) > p {
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FF5722;
}

/*-- /Section 3 - 1 --*/

/*-- Section 25 - 1 --*/

.title_wrapp_3 {
    padding: 10px 0 0 0;
}

.title_wrapp_3 h2 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: #FFF;
}

.title_wrapp_4 h3 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: #FFF;
}

.thumbnails_2_2 {
    margin-bottom: 2px;
}

/*-- /Section 25 - 1 --*/

/*-- Section 26 - 1 --*/

.title_wrapp_3_2 {
    padding-top: 4px;
}

.title_wrapp_3 h2 span {
    font-weight: 300;
}

.title_wrapp_3_2 + .thumbnails_2_2 {
    margin-top: 15px;
}

/*-- /Section 26 - 1 --*/

/*-- Section 2 - 1 --*/

.radial {
    background: radial-gradient(47.35% 29.82% at 50.14% 29.56%, rgba(131, 84, 234, 0.1) 0%, rgba(255, 0, 245, 0) 100%), linear-gradient(257.4deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0) 59.13%), rgba(0, 0, 0, 0.2);
}

.bonus_wrapp {
    padding: 2px 0 0 0;
    text-align: center;
}

.bonus_icon img {
    display: block;
    width: auto;
    max-width: 100%;
    position: relative;
    left: calc(50% - 19px);
    transform: translate(-50%);
}

.bonus_wrapp h4 {
    padding: 10px 0;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: #FF5722;
}

.bonus_wrapp h3 {
    padding: 3px 0;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: #FFF;
}

.bonus_wrapp p {
    padding: 10px 0;
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #B09B9B;
}

.bonus_wrapp + .thumbnails_2 {
    margin-top: 7px;
    margin-bottom: 7px;
}

.rate_item {
    display: flex;
    justify-content: center;
    margin: 5px 0 6px 0;
    padding: 20px 15px 20px 15px;
    background: rgba(255, 255, 255, .03);
    border-radius: 12px;
}

.rate_item > div:nth-child(1) {
    width: 96px;
    padding-top: 3px;
}

.rate_item > div:nth-child(2) {
    width: 65px;
    display: flex;
    justify-content: flex-end;
}

.rate_item > div:nth-child(1) p {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFF;
}

.num_icon {
    text-align: center;
    width: 44px;
    height: 44px;
    background-image: url(img/icon_09.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.num_icon.one {
    background-image: url(img/icon_10.svg);
}

.num_icon.two {
    background-image: url(img/icon_11.svg);
}

.num_icon.tree {
    background-image: url(img/icon_12.svg);
}

.num_icon.default {
    background-image: url(img/icon_09.svg);
}

.num_icon p {
    font-family: 'Roboto Mono';
    font-weight: 700;
    font-size: 22px;
    line-height: 43px;
    color: #FFF;
}

/*-- /Section 2 - 1 --*/

/*-- Section 3 - 1 --*/

.dark_pill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    min-height: 48px;
    background: rgba(255, 87, 34, 0.1);
    backdrop-filter: blur(15px);
    border: none;
    cursor: pointer;
    backdrop-filter: blur(15px);
    border-radius: 12px;
    font-family: 'Roboto Mono';
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FF5722;
}

.grey_box {
    margin: 5px 0 4px 0;
    padding: 12px 10px 6px 10px;
    background: rgba(255, 255, 255, .03);
    border-radius: 12px;
}

.title_wrapp_5 {
    padding: 10px 0 10px 0;
    text-align: center;
}

.title_wrapp_5 h3 {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFF;
}

.thumbnails_4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.thumb_4 {
    display: block;
    width: 88px;
    text-align: center;
    padding: 10px 0 10px 0;
}

.thumb_4 .icon_box {
    width: 38px;
    height: 38px;
    margin: 0 auto 13px auto;
}

.thumb_4 .icon_box img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.thumb_4 p {
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFF;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.thumb_4:link p,
.thumb_4:visited p {
    color: #FFF;
}

.thumb_4:active p,
.thumb_4.active p,
.thumb_4:hover p {
    color: #FF5722;
}

/*-- /Section 3 - 1 --*/

/*-- Section 4 - 1 --*/

.title_wrapp_6 h2 {
    padding-bottom: 12px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: #FFF;
}

.title_wrapp_6 p {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFF;
}

.thumbnails_5 {
    display: flex;
    flex-wrap: wrap;
    margin: 16px -4px 10px -4px;
}

.thumb_5 {
    display: block;
    width: calc(50% - 8px);
    margin: 4px;
    padding: 9px 10px;
    background: rgba(255, 255, 255, .03);
    backdrop-filter: blur(25px);
    border-radius: 20px;
    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.thumb_5:link,
.thumb_5:visited {
    background: rgba(255, 255, 255, .03);
}

.thumb_5:active,
.thumb_5.active,
.thumb_5:hover {
    background: rgba(255, 255, 255, .1);
}

.icon_box_thumb {
    position: relative;
    width: 64px;
    height: 64px;
    background: linear-gradient(225deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.02) 100%);
    border-radius: 12px;
}

.icon_box_thumb img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.thumb_5_descript {
    min-height: 66px;
    padding: 18px 0 11px 0;
}

.thumb_5_descript p {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFF;
}

.thumb_pill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    height: 48px;
    background: rgba(255, 87, 34, .1);
    backdrop-filter: blur(15px);
    border-radius: 12px;
}

.thumb_pill p {
    font-family: 'Roboto Mono';
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FF5722;
}

/*-- /Section 4 - 1 --*/

/*-- Section 13 - 1 --*/

.thumbnails_5_2 .thumb_5_descript {
    min-height: 58px;
    padding: 18px 0 0px 0;
}

.thumb_5_2 {
    display: flex;
    width: 100%;
}

.thumb_5_2 .thumb_5_descript {
    padding: 20px 0 0 16px;
}

/*-- /Section 13 - 1 --*/

/*-- Section 6 - 1 --*/

.thumbnails_6 {
    padding: 14px 0 8px 0;
}

.thumb_6 {
    background: rgba(255, 255, 255, .03);
    backdrop-filter: blur(25px);
    border-radius: 20px;
    margin: 8px 0;
    padding: 10px 10px 10px 10px;
}

.thumb_6_two_cols {
    display: flex;
    padding-bottom: 12px;
}

.thumb_6_two_cols > div:nth-child(1) {
    width: 80px;
}

.thumb_6_two_cols > div:nth-child(2) {
    width: calc(100% - 80px);
}

.thumb_6_icon {
    width: 64px;
    height: 64px;
    background: linear-gradient(225deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.02) 100%);
    border-radius: 12px;
    position: relative;
}

.thumb_6_icon img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.thumb_6 h3 {
    padding-bottom: 3px;
    font-family: 'Roboto Mono';
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FF5722;
}

.thumb_6_row {
    display: flex;
}

.thumb_6_row > div:nth-child(1) {
    width: 60%;
}

.thumb_6_row > div:nth-child(2) {
    width: 40%;
    text-align: right;
}

.thumb_6_row > div:nth-child(1) p {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #B09B9B;
}

.thumb_6_row > div:nth-child(2) p {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #FFF;
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(15px);
    border-radius: 12px;
}

.tag p {
    font-family: 'Roboto Mono';
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFF;
}

.bottom_text {
    padding: 10px 0 7px 0;
}

.bottom_text p {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #B09B9B;
}

/*-- /Section 6 - 1 --*/

/*-- Section 7 - 1 --*/

.grey_box_2 {
    margin: 21px 0 14px 0;
    padding: 12px 19px 20px 19px;
}

.linkks_thumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 3px -4.5px 5px -4.5px;
}

.link_thumb {
    width: calc(50% - 9px);
    margin: 4.5px;
    text-align: center;
    position: relative;
    background: rgba(255, 255, 255, .04);
    border-radius: 12px;
    padding: 1px 20px 11px 20px;
}

.copy_link {
    display: block;
    width: 18px;
    height: 20px;
}

.link_thumb .copy_link {
    position: absolute;
    top: 10px;
    right: 10px;
}

.link_thumb_icon {
    display: block;
    height: 38px;
    width: 38px;
    margin: 10px auto 12px auto;
}

.link_thumb_icon img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.link_thumb h3 {
    padding: 3px 0;
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FF5722;
}

.link_thumb p {
    padding: 2px 0;
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFF;
}

.items_4_wrapp {
    padding: 15px 0 8px 0;
}

.items_4_title h3 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: #FFF;
}

.item_4 {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, .03);
    backdrop-filter: blur(25px);
    border-radius: 20px;
    margin: 9px 0;
    padding: 10px;
}

.item_4 > div:nth-child(1) {
    width: 80px;
}

.item_4 > div:nth-child(2) {
    width: calc(100% - 80px);
}

.item_4_icon_box {
    width: 64px;
    height: 64px;
    background: linear-gradient(225deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.02) 100%), rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    position: relative;
}

.item_4_icon_box img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.item_4 h3 {
    font-family: 'Roboto Mono';
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFF;
}

.item_4 p {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #B09B9B;
}

.bottom_text h3 {
    padding-bottom: 6px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: #FFF;
}

.btns_two_cols {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -9px;
}

.btns_two_cols > div {
    width: 50%;
    padding: 9px;
}

/*-- /Section 7 - 1 --*/

/*-- Section 8 - 1 --*/

.back_link_wrapp {
    padding: 3px 0 3px 0;
}

.back_link {
    display: inline-flex;
    align-items: center;
}

.back_link svg {
    margin-right: 12px;
}

.back_link p {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: #FFF;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.back_link:link p,
.back_link:visited p {
    color: #FFF;
}

.back_link:active p,
.back_link.active p,
.back_link:hover p {
    color: #FF5722;
}

.ref_items_title {
    padding: 7px 0 15px 0;
}

.ref_items_title h3 {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFF;
}

.ref_item {
    background: rgba(255, 255, 255, .03);
    backdrop-filter: blur(25px);
    border-radius: 20px;
    margin: 9px 0;
    padding: 12px 10px 11px 10px;
}

.ref_item {
    margin-bottom: 5px;
}

.ref_item_title h3 {
    padding-bottom: 3px;
    font-family: 'Roboto Mono';
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FF5722;
}

.ref_item_row {
    display: flex;
}

.ref_item_row > div:nth-child(1) {
    width: 115px;
}

.ref_item_row > div:nth-child(2) {
    width: calc(100% - 115px);
    text-align: right;
}

.ref_item_row > div:nth-child(1) p {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #B09B9B;
}

.ref_item_row > div:nth-child(2) p {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFF;
}

/*-- /Section 8 - 1 --*/

/*-- Section 10 - 1 --*/

.ref_items_2 {
    padding-top: 9px;
}

/*-- /Section 10 - 1 --*/

/*-- Section 11 - 1 --*/

.promo_2 {
    display: flex;
    padding: 7px 0 20px 0;
}

.promo_2 > div:nth-child(1) {
    width: 90px;
}

.promo_2 > div:nth-child(2) {
    width: calc(100% - 90px);
    padding-top: 4px;
}

.promo_2 > div:nth-child(1) svg {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.promo_2 > div:nth-child(2) p {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFF;
}

.btns_wrapp_3 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;
}

.btns_wrapp_3 > div:nth-child(1) {
    width: 50%;
    padding: 4px;
}

.btns_wrapp_3 > div:nth-child(2) {
    width: 50%;
    padding: 4px;
}

.transparent_pill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    min-height: 48px;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(15px);
    border-radius: 12px;
    font-family: 'Roboto Mono';
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFF;
    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.transparent_pill:hover,
.transparent_pill.active {
    background: rgba(255, 255, 255, .05);
}

.table_11_row {
    display: flex;
    align-items: center;
    min-height: 44px;
    border-bottom: 1px solid rgba(255, 255, 255, .04);
}

.table_11_row:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.table_11_header {
    border-bottom: 2px solid #FF5722;
    margin-bottom: 7px;
    padding-bottom: 3px;
}

.table_11_row > div:nth-child(1) {
    width: calc(100% - 170px);
}

.table_11_row > div:nth-child(2) {
    width: 100px;
    text-align: right;
}

.table_11_row > div:nth-child(3) {
    width: 70px;
    text-align: right;
}

.table_11_wrapp h3 {
    font-family: 'Roboto Mono';
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFF;
}

.table_11_wrapp p {
    font-family: 'Roboto Mono';
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #888888;
}

.table_11_wrapp p span {
    opacity: .3;
    font-weight: 400;
}

.pos {
    display: inline-flex;
    align-items: center;
}

p.pos_1 {
    color: #FF5722;
}

p.pos_2 {
    color: #BABABA;
}

p.pos_3 {
    color: #764E41;
}

.pos i {
    margin-right: 9px;
}

.num_1 {
    width: 20px;
    height: 20px;
    background-image: url(img/icon_27.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.num_2 {
    width: 20px;
    height: 20px;
    background-image: url(img/icon_28.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.num_3 {
    width: 20px;
    height: 20px;
    background-image: url(img/icon_29.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/*-- /Section 11 - 1 --*/

/*-- Section 31 - 1 --*/

.table_11_wrapp_2 .table_11_row > div:nth-child(1) {
    width: calc(100% - 210px);
}

.table_11_wrapp_2 .table_11_row > div:nth-child(2) {
    width: 90px;
    text-align: right;
}

.table_11_wrapp_2 .table_11_row > div:nth-child(3) {
    width: 120px;
    text-align: right;
}

/*-- /Section 31 - 1 --*/

/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

.footer_section .black_box_2 {
    margin-top: 0;
    padding: 4px 20px 15px 20px;
}

.footer_nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.footer_nav li {
    width: 25%;
    padding: 0 10px;
}

.icon_link {
    display: block;
    width: 70px;
    margin: 0 auto;
}

.icon_box {
    width: 28px;
    height: 28px;
    position: relative;
    margin: 10px auto;
}

.icon_link .icon_box svg {
    display: block;
    width: auto;
    height: auto;
    max-width: 29px;
    opacity: .2;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.icon_link:link .icon_box svg,
.icon_link:visited .icon_box  svg {
    opacity: .2;
}

.icon_link:active .icon_box svg,
.icon_link.active .icon_box svg,
.icon_link:hover .icon_box svg {
    opacity: 1;
}

.icon_box img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);   
}

.icon_link p {
    text-align: center;
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFF;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.icon_link:link p,
.icon_link:visited p {
    color: #FFF;
}

.icon_link:active p,
.icon_link.active p,
.icon_link:hover p {
    color: #FF5722;
}
